.linkAppBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.iconMenuHome {
  color: rgb(255, 166, 0);
}

.linkText {
  text-decoration: none;
}
.iconMenuCarrito {
  color: aliceblue;
}

.appBar {
  background-color: rgb(255, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}

.fontLink {
  color: aliceblue !important;
}

.active {
  color: rgb(251, 255, 0) !important;
  font-weight: 900 !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.inactive {
  color: rgb(255, 255, 255) !important;
  font-weight: normal !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.titleNav{
  font-size: 35px;
}

.titleCountCarrito{
  margin-left: 10px;
  font-size: 35px;
}