.linkAppBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.iconMenuHome{
    color: rgb(255, 166, 0);
}

.iconMenuCarrito{
    color: aliceblue;
}

.appBar{
    background-color: rgb(255, 0, 0) !important;
    color:rgb(255, 255, 255) !important
}

.fontLink{
    color: aliceblue !important;
}